* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/background.jpg);
  color: #f5f5f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --color1: #ffe4f2;
  --color2: black;
  --color3: #00076f;
  --color4: #44008b;
  --color5: #9f45b0;
}

header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: var(--color2);
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-form {
  margin: auto;
  margin-top: 50px;
  width: fit-content;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: var(--color2);
  height: 40px;
  border-radius: 50px;
  padding: 10px;
}

.search-box input {
  border: none;
  outline: none;
  color: #f5f5f5;
  background: none;
}

.search-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  margin: 60px auto 80px auto;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 3px gray;
}

.title h1 {
  font-size: 75px;
  color: var(--color1);
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
}

.title p {
  margin-top: 20px;
  color: var(--color1);
  text-align: center;
  width: 300px;
  line-height: 2rem;
  font-size: 20px;
}

.logo {
  display: flex;
  text-decoration: none;
  gap: 30px;
  color: var(--color1);
}

.logo p {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.links li {
  list-style: none;
  color: #ffe4f2;
}

.links li a {
  color: var(--color1);
  text-decoration: none;
}

.footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
  color: #9f45b0;
}

@media only screen and (max-width: 425px) {
  .text-logo {
    display: none;
  }
}
